<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}"/>
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}"/>
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
#if(!${logicDeleteFieldName} || ${field.name}!= ${logicDeleteFieldName})
        <result column="${field.name}" property="${field.propertyName}"/>
#end
#end
#end
    </resultMap>

#end
#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
        ${field.name},
#end
        ${table.fieldNames}
    </sql>

#end
#if(${superControllerClassPackage})
    <!-- 通用分页查询，默认根据实体生成查询条件，如若已更换为指定查询对象，请修改相应的判断条件
    时间字段默认生成开始时间和结束时间，且不启用，如果要启用，需要自定义查询对象，然后解注释这里的查询条件
    -->
    <select id="pageQuery" resultType="${package.Entity}.${entity}">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM ${table.name}
        <where>
#foreach($field in ${table.fields})
#if(${field.columnType.type} != "LocalDateTime" && ${field.columnType.type} != "DateTime")
            <if test="query.${field.propertyName} != null and query.${field.propertyName} != ''">
                AND ${field.name} = #{query.${field.propertyName}}
            </if>
#else
            <!--
            <if test="query.${field.propertyName}Begin != null">
                AND ${field.name} >= #{query.${field.propertyName}Begin}
            </if>
            <if test="query.${field.propertyName}End != null">
                AND ${field.name} <![CDATA[ < ]]> DATE_ADD(#{query.${field.propertyName}End} ,INTERVAL 1 DAY)
            </if>
            -->
#end
#end
#if(${logicDeleteFieldName})
            AND ${logicDeleteFieldName} = 0
#end
        </where>
        ORDER BY id DESC
    </select>
#end
</mapper>
